<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>传感器列表</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
        {% if sensors %}
            <ul class="nav nav-pills nav-stacked">
                {% for sid, sinfo in sensors.items() %}
                <li><a href="/device/{{ device_id }}/sensor/{{ sid }}" class="list-group-item">
                    {% set stype=sinfo['type'] %}
                    {% if stype == 3 %}
                        温度湿度传感器设备{{ sid }}
                    {% elif stype == 4 %}
                        电灯设备{{ sid }}
                    {% else %}
                        未知设备{{ sid }}
                    {% end %}
                </a></li>
                {% end %}
            </ul>
        {% else %}
        <h3>您还没有添加任何传感器</h3>
        {% end %}
        </div>
    </div>
</div>
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
