<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>设备列表</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-switch.css">
    <style type="text/css">
        .radius_border {
            border: 1px solid #cccccc;
            border-radius: 15px;
            margin-top: 10%;
            margin-left: 0.5%;
            margin-right: 0.5%;
            padding-bottom: 5%;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="row clearfix radius_border">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <h3 class="text-center">
                        温度湿度
                    </h3>
                    <hr>
                </div>
                {% for sensor in humtem_sensors %}
                {% if sensor['value'] %}
                {% set tem, hum = sensor['value'].split(',') %}
                {% else %}
                {% set tem, hum = None, None %}
                {% end %}
                <div class="col-md-12 column">
                    <div class="row clearfix" style="margin-left:1%">
                        <div class="col-xs-3 column text-left">
                            <h4>{{ sensor['tag'] }}</h4>
                        </div>
                        <div class="col-xs-8 column text-left">
                            {% if tem and hum %}
                            <h4>温度 {{ tem }}℃ 湿度 {{ hum }}%</h4><br>
                            {% else %}
                            <h4>暂无当前温度湿度</h4>
                            {% end %}
                            <a href="/device/{{device_id}}/sensor/{{sensor['id']}}">温度湿度折线图</a>
                        </div>
                    </div>
                </div>
                {% end %}
            </div>
        </div>
    </div>
    <div class="row clearfix radius_border">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <h3 class="text-center">
                        智能开关
                    </h3>
                    <hr>
                </div>
                {% for sensor in led_sensors %}
                {% set value = int(sensor['value']) %}
                <div class="col-md-12 column">
                    <div class="row clearfix" style="margin-left: 1%;margin-bottom: 2%;">
                        <div class="col-xs-3 column text-left">
                            <h4>{{ sensor['tag'] }}</h4>
                        </div>
                        <div class="col-xs-7 column text-right" style="">
                            <input type="checkbox" id="{{ sensor['id'] }}" {% if value==1 %} checked {% end %}>
                        </div>
                    </div>
                </div>
                {% end %}
            </div>
        </div>
    </div>
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-switch.js"></script>
<script type="text/javascript">
    device_id = {{ device_id }}
    function switch_light(event, state){
       console.log(event);

        sensor_id = this.id;
        if(state){
            value = 1;
        }else{
            value = 0;
        }
        url = "/device/" + device_id + "/sensor/" + sensor_id;
        var data = {
            value: value
        }
        data = JSON.stringify(data);
        $.ajax({
            type: "PUT",
            url: url,
            contentType: "application/json; charset=utf-8",
            data: data,
            dataType: "json",
            success: function (msg, status, xhr) {
                errcode = msg.errcode
                if (errcode==0){
                    console.log('success')
                }else if (errcode == -1){
                    console.log(msg.errmsg)
                    window.location.reload()
                }
            },
            error: function (msg) {
                console.log(msg);
            }
        });
    }

    {% for sensor in led_sensors %}
        {% set id = sensor['id'] %}
        $('#{{ id }}').bootstrapSwitch();
        $('#{{ id }}').on('switchChange.bootstrapSwitch', switch_light);
        {% end %}
    $("[name='my-checkbox']").bootstrapSwitch();
</script>
</body>
</html>

