<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>选择折叠项</title>
    <meta name="viewport"           content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
     <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="panel-group" id="accordion" role="tablist"          aria-multiselectable="true">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"                          href="#collapse1" aria-expanded="true" aria-controls="collapse1">服务条款1</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <a href="http://1.com">点我进入某网页1</a>
                    <br />
                    本协议服务条款具有法律效力。
                    <br />
                    本协议服务条款具有法律效力。
                    <br />
                    本协议服务条款具有法律效力。
                    <br />
                    本协议服务条款具有法律效力
                </div>
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"                          href="#collapse2" aria-expanded="true" aria-controls="collapse2">服务条款2</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse in"                  role="tabpanel">
                <div class="panel-body">
                    <a href="http://2.com">点我进入某网页2</a>
                    <br />
                    本协议服务条款具有法律效力。
                    <br />
                    本协议服务条款具有法律效力。
                    <br />
                    本协议服务条款具有法律效力。
                    <br />
                    本协议服务条款具有法律效力
                </div>
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"                          href="#collapse3" aria-expanded="false" aria-controls="collapse3">服务条款3</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <a href="http://3.com">点我进入某网页3</a>
                    <br />
                    本协议服务条款具有法律效力。
                    <br />
                    本协议服务条款具有法律效力。
                    <br />
                    本协议服务条款具有法律效力。
                    <br />
                    本协议服务条款具有法律效力
                </div>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"                          href="#collapse4" aria-expanded="true" aria-controls="collapse4">服务条款4</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <a href="http://1.com">点我进入某网页4</a>
                    <br />
                    本协议服务条款具有法律效力。
                    <br />
                    本协议服务条款具有法律效力。
                    <br />
                    本协议服务条款具有法律效力。
                    <br />
                    本协议服务条款具有法律效力
                </div>
            </div>
        </div>
    </div>
</body>
</html>
